/* flex */
.flex {
    display: flex;
}

/* 中央寄せ */

.flex-center {
    flex-wrap: wrap;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* 横幅 */
.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.bg-red{
    background-color: red;
}

/* マージン */
.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.my5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.my10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mx-auto {
    margin: 0 auto;
}

/* フォント */
.bold {
    font-weight: bold;
}

/*　個別 */
.reading-log {
    height: 2.5rem;
    margin-top: 23px;
    margin-left: 8px;
}