/* flex */
.flex {
    display: flex;
}

/* 中央寄せ */

.flex-center {
    flex-wrap: wrap;
    justify-content: center;
}

.flex-around {
    justify-content: space-around;
}

.text-center {
    text-align: center;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* 横幅 */
.w30 {
    width: 30%;
}
.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w80 {
    width: 80%;
}

.w70 {
    width: 70%;
}

.bg-red{
    background-color: red;
}

/* マージン */
.mt5 {
    margin-top: 5px;
}

.mb5 {
    margin-bottom: 5px;
}

.my5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.my10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.my20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-auto {
    margin: 0 auto;
}

/* フォント */
.bold {
    font-weight: bold;
}

/*　スペース */
.vertical-space-20 {
    height: 20px;
}

.vertical-space-30 {
    height: 30px;
}

.vertical-space-40 {
    height: 40px;
}

.vertical-space-50 {
    height: 50px;
}

/*　個別 */
.reading-log {
    height: 2.5rem;
    margin-top: 23px;
    margin-left: 8px;
}