body {
  margin: 0;
  font-family: -apple-system, blinkMacSystemFont, "Noto Sans JP", lato, "Helvetica Neue", "Segoe UI", YuGothicM, YuGothic, Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.42857;
}
 
h1 {
  font-family: 'Noto Sans Japanese',   sans-serif;
  font-weight: 900;
}

p {
  font-family: 'Noto Sans Japanese',   sans-serif;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
